<hr>
<nav>
    <ul class="link">
        <li><a href="./index.html" {% if page.url contains "index.html" %}class="active"{% endif %}>Home</a>
        </li>
        <li><a href="./ml.html" {% if page.url contains "ml.html" %}class="active"{% endif %}>Info
            for Module Leads (PGTA)</a></li>
        <li><a href="./intern-ml.html" {% if page.url contains "intern-ml.html" %}class="active"{% endif %}>Info
            for Module Leads (Intern)</a></li>
        <li><a href="./phd.html" {% if page.url contains "phd.html" %}class="active"{% endif %}>Info
            for PGTAs (PhD)</a></li>
        <li><a href="./ra.html" {% if page.url contains "ra.html" %}class="active"{% endif %}>Info
            for PGTAs (RF)</a>
        </li>
        <li><a href="./contact.html" {% if page.url contains "contact.html" %}class="active"{% endif %}>Contacts</a>
        </li>
    </ul>
</nav>
<hr>
