<hr>
<nav>
    <ul class="link">
        <li><a href="./index.html" {% if page.url contains "index.html" %}class="active"{% endif %}>Home</a>
        </li>
        <li><a href="./index.html#eligibility" {% if page.url contains "index.html#eligibility" %}class="active"{% endif %}>Eligibility</a>
        </li>
        <li><a href="./index.html#application-and-hiring-process" {% if page.url contains "index.html#application-and-hiring-process" %}class="active"{% endif %}>Applications</a>
        </li>
        <li><a href="./index.html#contracts-and-pay" {% if page.url contains "index.html#contracts-and-pay" %}class="active"{% endif %}>Contracts and pay</a>
        </li>
        <li><a href="./index.html#further-information" {% if page.url contains "index.html#further-information" %}class="active"{% endif %}>Further information</a>
        </li>
        <li><a href="./index.html#contacts" {% if page.url contains "contact.html#contacts" %}class="active"{% endif %}>Contacts</a>
        </li>
    </ul>
</nav>
<hr>
