<hr>
<nav>
    <ul class="link">
        <li><a href="./index.html" {% if page.url contains "index.html" %}class="active"{% endif %}>Home</a>
        </li>
        <li><a href="./keydates.html" {% if page.url contains "keydates.html" %}class="active"{% endif %}>Key Dates</a>
        </li>
        <li><a href="./ml.html" {% if page.url contains "ml.html" %}class="active"{% endif %}>Info for Module
            Leaders</a></li>
        <li><a href="./pgta.html" {% if page.url contains "pgta.html" %}class="active"{% endif %}>Info
            for PGTAs</a></li>
        <li><a href="./ra.html" {% if page.url contains "ra.html" %}class="active"{% endif %}>Info
            for Research Fellow/Associate</a>
        </li>
        <li><a href="./intern.html" {% if page.url contains "ra.html" %}class="active"{% endif %}>Info
            for CS Undergraduates</a>
        </li>
        <li><a href="./contact.html" {% if page.url contains "contact.html" %}class="active"{% endif %}>Contacts</a>
        </li>
    </ul>
</nav>
<hr>
