<div class="link-wrapper">
    <style>
        ul.link {
            list-style-type: none;
        }

        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }

        ul.link a:hover, a:focus {
            color: var(--clr-a-text-hvr);
        }

        ul.link a:active {
            color: #267CB9;
            cursor: default;
        }

        .result li.active a {
            color: lightgray;
            cursor: default;
        }

    </style>


    <hr>
    <ul class="link">
        {% for item in site.data.samplelist.docs %}
        <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <hr>

    <ul class="link">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./ml.html">Information for Module Leads</a></li>
        <li><a href="./phd.html">Information for PGTAs (PhD)</a></li>
        <li><a href="./ra.html">Information for PGTAs (RA)</a></li>
        <li><a href="./faq.html">FAQ</a></li>
        <li><a href="./contact.html">Contacts</a></li>
    </ul>
</div>