<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }

        ul.link a:hover, a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <ul class="link">
        <li><a href="./ml.html"><i class="fa-solid fa-person-chalkboard"></i>Module lead info</a></li>
        <li><a href="./phd.html"><i class="fa-solid fa-user-graduate"></i>PhD PGTA info</a></li>
        <li><a href="./ra.html"><i class="fa-solid fa-user-graduate"></i>RA PGTA info</a></li>
        <li><a href="./faq.html"><i class="fa-solid fa-circle-info"></i>FAQ</a></li>
        <li><a href="./contact.html"><i class="fa-solid fa-envelope"></i>Contacts</a></li>
        </li>
    </ul>
</div>