---
---
@import "main";


ul.link {
    list-style-type: none;
}

ul.link a {
    color: var(--clr-h1-and-bold);
    text-decoration: none;
}

ul.link a:hover, a:focus, a:active {
    color: var(--clr-a-text-hvr);
}
